<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.hirola.runningplan">

    <application
            android:name=".RunningPlanApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_running_plan"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_running_plan_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.RunningPlan">
        <activity
                android:name=".ui.settings.UserSettingsActivity"
                android:label="@string/title_usersettings">
        </activity>
        <activity
                android:name=".ui.settings.OtherSettingsActivity"
                android:label="@string/title_othersettings">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>